@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left,#666600,#999966);
    --background: 64 100% 98.4%;
    --foreground: 64 10% 0.8%;

    --muted: 64 10% 92%;
    --muted-foreground: 64 5% 42%;

    --popover: 64 10% 92%;
    --popover-foreground: 64 10% 1%;

    --card: 64 10% 92%;
    --card-foreground: 64 10% 1%;

    --border: 64 15% 89.8%;
    --input: 64 15% 89.8%;

    --primary: 64 100% 20%;
    --primary-foreground: 64 2% 92%;

    --secondary: 64 5% 96%;
    --secondary-foreground: 64 7% 12%;

    --accent: 64 5% 96%;
    --accent-foreground: 64 7% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 64 100% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #1d976c, #93f9b9);

    --background: 169 44.2% 2.8%;
    --foreground: 169 6.800000000000001% 96.75%;

    --muted: 169 34% 10.5%;
    --muted-foreground: 169 6.800000000000001% 53.5%;

    --popover: 169 51.4% 4.55%;
    --popover-foreground: 169 6.800000000000001% 96.75%;

    --card: 169 51.4% 4.55%;
    --card-foreground: 169 6.800000000000001% 96.75%;

    --border: 169 34% 10.5%;
    --input: 169 34% 10.5%;

    --primary: 169 68% 35%;
    --primary-foreground: 169 6.800000000000001% 96.75%;

    --secondary: 169 34% 10.5%;
    --secondary-foreground: 169 6.800000000000001% 96.75%;

    --accent: 169 34% 10.5%;
    --accent-foreground: 169 6.800000000000001% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 6.800000000000001% 96.75%;

    --ring: 169 68% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
